<%= form_with(model: article, url:public_user_article_path(current_user), local:true) do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </div>

      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>

<!-- url の切り替えで遷移先が変わる
local:turue remote:turueなどに替えると非同期になる-->
