<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<button type="button" class="btn btn-success js-evernote-checked" data-evernote-id="3896">
			   <%= link_to 'USER_EDIT', edit_public_shop_path(current_user.id) %>
			</button>
			<button type="button" class="btn btn-success js-evernote-checked" data-evernote-id="3896">
			   <%= link_to "削除", public_shop_path(@shop.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
		   </button>

	<!-- いいね機能 -->
	        <!--   いいね非同期 -->
	            <div id= "likes_buttons_<%= @shop.id%>">
	                <%= render partial: 'public/shared/favorite', locals: { shop: @shop} %>
	            </div>
	         <!--   いいね非同期 -->
	<!-- いいね機能 -->

	<!-- コメント機能 -->
			<h1>店の名前<%=@shop.name%></h1>
			<hr>
			<%= attachment_image_tag @shop, :image, format: 'jpeg', size: "300x200", fallback: "no_image.jpg" %>
	        <hr>
	        <h3>投稿者:<%= @shop.user.email %></h3>
	        <br>
			<h3>店説明文:<%= @shop.content %></h3>
			<p>住所</p>
			<hr>
			<!-- こsこはコメント機能というより説明文にしていたい。
	-->
	<!-- ---------------------api作成する------------------------------------------------ -->
                      <li><%= link_to 'API', public_articles_show_path(current_user) %></li>
        <!-- コメント投稿 -->
	        <h3>お店に対するコメント機能作成会話、評価する。</h3>
	        <%= form_with(model: [@shop, @comment], url: public_shop_comments_path(@shop), remote: true) do |f| %>
			  <%= f.text_area :content, size: "40x5"%>
			  <%= f.submit 'コメントする' %>
			<% end %>
			<hr>
			<h2>コメント一覧</h2>
			<% @comments.each do |c| %>
				<div>
					<hr>
				  <%= @shop.user.id %>
				  <%= @shop.user.name %>
				  <br>
				  <%= c.user.email %>
	              <%= c.content %>
	              <%= link_to "DELETE", public_shop_comment_path(c.shop.id, c.id), method: :delete %>
				    <hr>
				</div>
			<% end %>
		</div>
	</div>
</div>