<div class="container">
    <div class="row">
		<div class="col-md-10 col-md-offset-1">
			<button type="button" class="btn btn-success js-evernote-checked" data-evernote-id="3896">
			   <%= link_to 'USER_EDIT', edit_public_shop_path(current_user.id) %>
			</button>
			<button type="button" class="btn btn-success js-evernote-checked" data-evernote-id="3896">
			   <%= link_to "削除", public_shop_path(@shop.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
		   </button>
			<h1>店の名前<%=@shop.name%></h1>
			<hr>
			<%= attachment_image_tag @shop, :image, format: 'jpeg', size: "300x200", fallback: "no_image.jpg" %>
            <p>店名<%=@shop.name%></p>
            <!-- アドレスは消す？ -->
			<h3>店の説明文<%= @shop.content %></h3>
			<p>住所</p>
			<hr>
			<h3><%= @shop.content %></h3>

<!-- ---------------------api作成する------------------------------------------------ -->
            <p>リンクにしてクチコミにする</p>
			<h2>コメント一覧</h2>
				<% @comments.each do |comment| %>
				  <div>
				<%= link_to  do %>
				  	<%= comment.user.email %>
				    <%= comment.content %>
				<% end %>
				    <hr>
				  </div>
			<% end %>

			<%= form_for [@shop, @comment],url:public_shop_comments_path(@shop) do |f| %>
			  <%= f.text_area :content , size: "40x5"%>
			  <%= f.submit 'コメントする' %>
			<% end %>
		</div>
	</div>
</div>