<!DOCTYPE html>
<html>
  <head>
    <title>FileName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div>
          <% if user_signed_in? %>
                <nav class="sidebar__nav">
                    <ul class="nav flex-column">
                      <li><%= link_to 'HOME', public_users_home_path %></li>
                      <li><%= link_to 'MYPAGE', public_user_path(current_user.id) %></li>
                      <li><%= link_to 'SHOPS', public_shops_path %></li>
                      <li><%= link_to 'NOTICE', ""%></li>
                      <li><%= link_to 'DM', "" %></li>
                      <li><%= link_to 'SIGNOUT', destroy_user_session_path,method: :delete %></li>
                    </ul>
                </nav>
          <% end %>
          </div>
  <div class="container">
   <%= yield %>
 </div>
  </body>
</html>